#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-submit{
   margin: 32%;
    margin-top: 20px;
    padding:8px;
    border-radius: 10px;
}
.login{
    color: rgb(58, 51, 51);
    text-align: center;
}