body{
    background:url(https://i.pinimg.com/originals/50/7a/62/507a6272f02278daacf1e6e4f6957f8c.jpg);
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.form-login{
    max-width: 400px;
    background: rgb(0, 0, 0 , 0.8);
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px 2px rgba(225, 225, 225, 0.8);
}
.form-submit{
    margin-top: 20px;
    padding:8px 100px;
    border-radius: 10px;
}
.login{
    color: rgb(255, 255, 255);
    text-align: center;
}
.form-input{
    background-color: transparent;
        border: none;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding: 8px;
}
.form-input input {
    flex: 1; 
    background-color: transparent; 
    border: none;
    outline: none; 
    color: white; /
    padding-left: 10px; 
}
.form-input i {
    margin-right: 10px; 
}
.form-submit:hover{
    background: rgba(40, 39, 39, 0.8);
   background-size: cover;
}
